header {
    border-bottom: 1px solid var(--theme-colors-aliceBlue);
}

.btn-bd-primary {
    background-color: #9590f7;
    color: var(--theme-colors-aliceBlue);
    border-radius: 10px;

}

.btn-login {
    background-color: #9590f7;
    color: var(--theme-colors-aliceBlue);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.logo-image {
    width: 100px;
    margin: 20px 0;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px;
}

.presentation h1 {
    font-size: 18px;
}

.presentation h2 {
    font-size: 16px;
    text-align: center;
}

.presentation h5 {
    margin-left: 60%;

}

.donation-section {
    padding: 40px 0 0;
    width: 80%;

}

input:focus {
    border-color: #9590f7 !important;
}

input:invalid {
    border-color: red;
}


.forms {
    border-color: #9590f7;
    border-radius: 20px;
}

.footer-title {
    font-family: 'Akshar', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #9590f7;
    font-weight: bold;
}

@media screen and (max-width: 900px) {

    .presentation h2 {
        font-size: 14px;

    }
}