@charset "UTF-8";

.parceiros{
    padding: 40px 30px 50px;
    background-color: #969FAA ;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}



.colaboradores{
    display: flex;
    justify-content:center;
    
}

.colaboradores ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    padding:2% 5%;
    
    
}

.colaboradores li {
    display: flex;
    width: 10px;
    min-width: 450px;
    flex-direction: column;
    align-items:center;
    padding: 2%;
    background-color: rgba(211, 211, 211, 0.185);
}

.title-img {
    font-family: 'Lato', sans-serif;
    font-size:30px;
    text-align: center;
    font-weight: bolder;
    margin-top:20px ;
}



.description {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    text-align: justify;
    margin:8% 2%;
}






@media screen and (max-width:700px) {
    .colaboradores ul {
        flex-wrap: wrap-reverse;
        flex-direction: column;
        align-items: center;
        
    }

    
    
    
}


