:root {
    --theme-colors-white: #FFFFFF;
    --theme-colors-charcoal-01: #47525E;
    --theme-colors-charcoal-02: #3C4650;
    --theme-colors-charcoal-03: #374049;
    --theme-colors-charcoal-04: #333B43;
    --theme-colors-shadowBlue: #8190A5;
    --theme-colors-slateGray: #697A8B;
    --theme-colors-aliceBlue: #E5E9F2;
    --theme-colors-beauBlue: #C0CCDA;
    --theme-fonts-lato: 'Lato', sans-serif;
    --theme-fonts-abrilFatface: 'Abril Fatface', cursive;
}

html {
    font-size: 10px;
}



/* Start: Header Desktop */

#presentation {
    position: absolute;
}

.responsive-image {
    z-index: -1;
    width: 33%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.quote {
    z-index: -1;
    font-size: calc(1rem + .8vw);
    font-family: var(--theme-fonts-lato);
    color: var(--theme-colors-charcoal-01);
    text-align: center;
}

.quote-autor {
    z-index: -1;
    font-size: calc(1rem + .3vw);
    font-family: var(--theme-fonts-abrilFatface);
    color: var(--theme-colors-shadowBlue);
    margin-top: 10px;
}

.button-donate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-colors-charcoal-01);
    border-radius: 3px;
    padding: 6px 20px;
}

.button-donate:hover {
    background-color: var(--theme-colors-charcoal-01);
}

.button-donate a {
    font-size: calc(1rem + .4vw);
    font-family: var(--theme-fonts-abrilFatface);
    text-decoration: none;
    color: var(--theme-colors-charcoal-01);
}

.button-donate:hover a {
    color: var(--theme-colors-aliceBlue);
}

@media screen and (max-width: 768px) {

    #presentation {
        position: relative;
    }

    .quote-container {
        position: relative;
    }

    .quote {
        font-size: calc(1rem + .7vw);
    }

    .quote-autor {
        font-size: calc(1rem + .4vw);
    }

    .button-donate a {
        font-size: calc(1rem + .5vw);
    }

    .responsive-image {
        display: none;
    }
}

/* End: Header Desktop */


.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    width: 80%;
    max-width: 770px;
}

.about {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #FBFCFF;
    margin: 20px 0;
    align-items: center;
}

.about p {
    color: var(--theme-colors-charcoal-01);
    margin: 0 10px;
    max-width: 400px;
    font-family: 'Akshar', sans-serif;
    font-size: 22px;
}

.about p strong {
    color: var(--theme-colors-charcoal-01);
    font-size: 2rem;
}

.about img {
    height: 400px;
}


@media screen and (max-width: 708px) {

    .about {
        background-color: #333;
    }

    .about div {
        width: 80%;
    }

    .about p {
        color: var(--theme-colors-aliceBlue);
        font-size: 18px;
    }

    .about img {
        position: absolute;
        width: 80%;
        object-position: 0 70%;
        object-fit: cover;
        opacity: .2;
    }
}

.main-case {
    margin: 20px 10px;
    height: 500px;
    width: 250px;
    flex-grow: 1;
    background-color: #FBFCFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

footer {
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: var(--theme-colors-charcoal-02);
}