:root {
    --theme-colors-white: #FFFFFF;
    --theme-colors-charcoal-01: #47525E;
    --theme-colors-charcoal-02: #3C4650;
    --theme-colors-charcoal-03: #374049;
    --theme-colors-charcoal-04: #333B43;
    --theme-colors-shadowBlue: #8190A5;
    --theme-colors-slateGray: #697A8B;
    --theme-colors-aliceBlue: #E5E9F2;
    --theme-colors-beauBlue: #C0CCDA;
    --theme-fonts-lato: 'Lato', sans-serif;
    --theme-fonts-abrilFatface: 'Abril Fatface', cursive;
    --theme-fonts-akshar: 'Akshar', sans-serif;
}

/* Theme fonts */

.font-lato {
    font-family: var(--theme-fonts-lato);
}

.font-abril {
    font-family: var(--theme-fonts-abrilFatface);
}

.font-akshar {
    font-family: var(--theme-fonts-akshar);
}

/* Theme colors */

.color-charcoal {
    color: var(--theme-colors-charcoal-01);
}

.object-fit-cover {
    object-fit: cover;
}

.p-30 {
    padding: 30px 0;
}


.b-top-beau-blue {
    border-top: 1px solid var(--theme-colors-beauBlue);
}

.b-bottom-beau-blue {
    border-bottom: 1px solid var(--theme-colors-beauBlue);
}


/* Start: Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.logo {
    font-family: var(--theme-fonts-abrilFatface);
    font-size: 2.8rem;
    color: var(--theme-colors-charcoal-01);
    margin-left: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    max-width: 600px;
}

.more-icon {
    display: none;
    width: 22px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 3px 6px;
}

.nav-item:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--theme-fonts-lato);
    color: var(--theme-colors-charcoal-04);
}

@media screen and (max-width: 768px) {

    .navbar {
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid var(--theme-colors-beauBlue);
    }

    .logo {
        font-size: 2rem;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 200px;
        width: 50%;
        padding-right: 20px;
    }

    .more-icon {
        display: inline;
    }

    .nav-list {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
        height: 200px;
        width: 150px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        justify-content: center;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: var(--theme-colors-charcoal-01);
    }

    .nav-item a {
        color: var(--theme-colors-aliceBlue);
        font-size: 1.6rem;
    }
}

/* End: Navbar */