:root {
    --theme-colors-white: #FFFFFF;
    --theme-colors-charcoal-01: #47525E;
    --theme-colors-charcoal-02: #3C4650;
    --theme-colors-charcoal-03: #374049;
    --theme-colors-charcoal-04: #333B43;
    --theme-colors-shadowBlue: #8190A5;
    --theme-colors-slateGray: #697A8B;
    --theme-colors-aliceBlue: #E5E9F2;
}

.navbar {
  position: absolute;
  width: 100vw;
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Arvo;
  font-size: 28px;
  color: var(--theme-colors-charcoal-01);
}

.menu {
  width: 60vw;
  max-width: 600px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: none;
  width: 20px;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item {
  font-size: 20px;
  font-family: Lato;
  color: var(--theme-colors-charcoal-01);
  padding: 1px 3px 1px 3px;
  border: 1px solid transparent;
}

.nav-item:hover {
  border: 1px solid var(--theme-colors-charcoal-03);
}

.nav-item:hover .link {
  color: var(--theme-colors-charcoal-04);
}

.nav-item a {
  color: var(--theme-colors-charcoal-01);
}

.login-button {
  background-color: var(--theme-colors-charcoal-01);
  padding: 3px 12px 3px;
  border-radius: 3px;
}

.login-button .link {
  color: var(--theme-colors-aliceBlue);
}

.login-button:hover {
  background-color: var(--theme-colors-slateGray);
  border: 1px solid var(--theme-colors-slateGray);
}

.login-button:hover .link {
  color: var(--theme-colors-aliceBlue);
}

.link {
  text-decoration: none;
}

@media screen and (max-width:700px) {

  .navbar {
    align-items:flex-start;
  }

  .menu {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 320px;
    max-width: 300px;
    width: 40vw;
  }

  .login-button {
    padding: 0;
    border: none;
  }

  .icon {
    display: inline-block;
  }

  .icon:hover {
    cursor:pointer;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: var(--theme-colors-charcoal-01);
    justify-content: space-around;
    align-items: center;
    height: 90%;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }

  .nav-item:hover {
    background-color: #5B6A79;
    border: none;
  }

  .nav-item:hover .link {
    color: var(--theme-colors-white);
  }

  .nav-item .link {
    color: var(--theme-colors-white);
  }
}