.contribution {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    max-width: 768px;
    margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
    .contribution {
        flex-direction: column;
        align-items: center;
    }
}
.contribution img {
    max-height: 400px;
}

.contribution-options {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;
    font-size: 18px;
    font-family: var(--theme-fonts-lato);
}

/* Contribution buttons */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.btn-login {
    margin-top: 20px;
    background-color: #9590f7;
    color: var(--theme-colors-aliceBlue);
}

.btn-login:hover {
    background-color: #bfc8ff;
    color: var(--theme-colors-aliceBlue);
}

.btn-cadastre {
    border: 1px solid #bfc8ff;
}

a {
    text-decoration: none;
    color: #bfc8ff;
}

.btn-cadastre:hover {
    background-color: #bfc8ff;
}

.btn-cadastre:hover a {
    color: var(--theme-colors-aliceBlue);
}

.btn-login:hover a {
    color: var(--theme-colors-aliceBlue);
}

.btn-access:hover a {
    color: var(--theme-colors-aliceBlue);
}

.fast-contribution {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 80%;
    max-width: 768px;
}
@media screen and (max-width: 680px) {
    .contribution {
        flex-direction: column;
        align-items: center;
    }
}

.fast-contribution img {
    max-height: 200px;
}

.fast-contribution-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-access {
    margin-top: 20px;
    background-color: #9590f7;
    color: var(--theme-colors-aliceBlue);
}

.btn-access:hover {
    background-color: #bfc8ff;
    color: var(--theme-colors-aliceBlue);
}